<div class="min-h-screen bg-[#CBC7C7]">
  <div class="navbar flex justify-center w-full h-[80px] bg-[#CBC7C7] border-b-[1px] border-black py-6">
    <p class="font-bold text-white text-2xl">BLACK<span class="text-black"> DIAMOND</span></p>
  </div>

  <div class="main-container flex w-full mt-20 pl-24 gap-10">
    <div class="leftDiv w-1/2">
      <p class="font-bold text-5xl">Making Your Car Wash more easier than before</p>

      <div class="selectorLogo flex gap-24 pt-8">
        <div class="premium">
          <img src="assets/Tracking.svg" alt="">
        </div>
        <div class="store">
          <img src="assets/Store.svg" alt="">
        </div>
      </div>

      <div class="formContainer bg-[#BDBDBD] w-[90%] h-[1000px] rounded-2xl">
        <p>Booking Details</p>
        <form action=""></form>

      </div>
    </div>

    <div class="rightDiv w-1/2 gap-10">
      <p>Premium Car Wash</p>
    </div>
  </div>

</div>
