<div class="min-h-screen bg-[#CBC7C7]">
  <div
    class="navbar flex justify-center w-full h-[80px] bg-[#CBC7C7] border-b-[1px] border-black py-6"
  >
    <p class="font-bold text-white text-2xl">
      BLACK<span class="text-black"> DIAMOND</span>
    </p>
  </div>

  <div class="main-container flex w-full mt-20 pl-24 gap-10 pb-8">
    <div class="leftDiv w-1/2">
      <p class="font-bold text-5xl">
        Making Your Car Wash more easier than before
      </p>

      <div class="selectorLogo flex gap-24 py-24">
        <div class="premium">
          <img src="assets/Tracking.svg" alt="" />
        </div>
        <div class="store">
          <img src="assets/Store.svg" alt="" />
        </div>
      </div>

      <div class="formContainer bg-[#BDBDBD] w-[90%] h-[1000px] rounded-2xl">

        <p class="text-xl pb-4 pt-10 pl-6 font-semibold">Booking Details</p>

        <!-- booking details -->
        <form action="" class="form-one w-full px-6">
          <div class="firstRow flex w-full justify-between gap-9 pb-6">
            <div class="date w-1/2">
              <label class="text-sm" for="">Select Date</label><br>
              <input type="date" class="w-full rounded pr-10 py-3"/>
            </div>

            <div class="time w-1/2">
              <label class="text-sm" for="">Select Time</label><br>
              <input type="time" class="w-full rounded pl-10 py-3"/>
            </div>
          </div>

          <div class="secondRow flex w-full justify-between gap-9 pb-6">
            <div class="date w-1/2">
              <label class="text-sm" for="">Car Type</label><br>
              <input type="dropdown" class="w-full rounded pr-10 py-3"/>
            </div>

            <div class="time w-1/2">
              <label class="text-sm" for="">Car Model</label><br>
              <input type="text" class="w-full rounded pl-10 py-3"/>
            </div>
          </div>

          <div class="btn w-full">
            <button class="w-full px-10 py-3 bg-[#2C2C2C] text-white rounded">Add Another Car</button>
          </div>
        </form>
        <div class="bottomborder border-b-[1px] w-full mt-6 border-[#A4A4A4]"></div>

        <!-- user details -->
        <p class="text-xl pb-4 pt-10 pl-6 font-semibold">User Details</p>
        <form action="" class="form-two px-6 w-full">

          <div class="firstRow flex w-full justify-between gap-9 pb-6">
            <div class="date w-1/2">
              <label class="text-sm" for="">Name</label><br>
              <input type="text" class="w-full rounded pr-10 py-3"/>
            </div>

            <div class="time w-1/2">
              <label class="text-sm" for="">Phone No (8 dDgit)</label><br>
              <input type="number" class="w-full rounded pl-10 py-3" placeholder="+974"/>
            </div>
          </div>

        </form>
        <div class="bottomborder border-b-[1px] w-full mt-6 border-[#A4A4A4]"></div>


        <!-- address -->
        <p class="text-xl pb-4 pt-10 pl-6 font-semibold">Address Details</p>
        <form action="" class="form-three w-full px-6 pb-6">
          <div class="btn w-full">
            <button class="w-full px-10 py-3 bg-[#2C2C2C] text-white rounded">Add Location</button>
          </div>

          <div class="firstRow flex w-full justify-between gap-9 pb-6 mt-4">
            <div class="w-1/2">
              <label class="text-sm" for="">Area</label><br>
              <input type="date" class="w-full rounded pr-10 py-3"/>
            </div>

            <div class="w-1/2">
              <label class="text-sm" for="">Block</label><br>
              <input type="time" class="w-full rounded pl-10 py-3"/>
            </div>
          </div>

          <div class="secondRow flex w-full justify-between gap-9 pb-6">
            <div class=" w-1/2">
              <label class="text-sm" for="">Street</label><br>
              <input type="dropdown" class="w-full rounded pr-10 py-3"/>
            </div>

            <div class=" w-1/2">
              <label class="text-sm" for="">House/Building Number</label><br>
              <input type="text" class="w-full rounded pl-10 py-3"/>
            </div>
          </div>

          <div class="thirdRow">
            <div class="time w-1/2">
              <label class="text-sm" for="" > Landmark </label><br>
              <input type="text" class="w-[95%] rounded pl-10 py-3"/>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="rightDiv w-1/2 gap-10 pr-24">

      <!-- firstContainer -->
      <div class="firstContainer bg-white w-full rounded-2xl h-[450px] pl-6">
        <p class="text-xl pb-4 pt-10 font-semibold">Premium Car Wash</p>

        <div class="time flex gap-3 py-2">
          <div class="logo">
            <img src="assets/time.svg" alt="">
          </div>
          <div>
            <p>2 hrs</p>
          </div>
        </div>

        <div class="money flex gap-3 pb-2">
          <div class="logo">
            <img src="assets/money.svg" alt="">
          </div>
          <div>
            <p>changes on the model and distance</p>
          </div>
        </div>

        <div class="contentOne pt-6">
          <p>External wash with shampoo - Internal vacuuming and cleaning - Internal decor cleaning - Clean and shining tires and rims with special products</p>
        </div>
        <div class="box w-[90%] bg-black text-white px-6 py-6 rounded-2xl mt-6">
          <p class="pb-4">Includes:</p>
          <p>External wash with shampoo - Internal vacuuming and cleaning - Internal decor cleaning - Clean and shining.</p>
        </div>

      </div>

      <!-- secondContainer -->
      <div class="secondContainer bg-[#BDBDBD] w-full h-[250px] rounded-2xl mt-10 px-6 pr-20">
        <p class="text-xl pb-4 pt-14 font-semibold">Promo Code</p>
        <p class="text-sm pb-4">Have a promo code ?</p>
        <div class="inputField flex justify-between bg-white w-full rounded py-2">
          <input type="text">
          <button class="bg-black text-white px-8 py-3 mr-4 rounded">Apply</button>
        </div>

      </div>

      <!-- thirdContainer -->
      <div class="thirdContainer  bg-[#BDBDBD] w-full h-[270px] rounded-2xl mt-10 px-6 ">
          <div class="container flex justify-between px-6">
            <div class="left pt-14">
              <p class="text-sm pb-6">Premium Wash Charge:</p>
              <p class="text-sm pb-6">Service charge:</p>
              <p class="text-sm pb-12">Discount:</p>
              <p class="text-md font-semibold">Total:</p>
            </div>
            <div class="right pt-14">
              <p class="text-sm pb-6">35.00 QAR</p>
              <p class="text-sm pb-6">40.00 QAR</p>
              <p class="text-sm pb-12">00.00 QAR</p>
              <p class="text-md font-semibold">75.00 QAR</p>
            </div>
          </div>
      </div>

      <div class="paymentBtn w-full bg-[#2C2C2C] mt-6 text-white flex justify-center py-3 rounded">
        <button>Proceed to Payment >></button>
      </div>

    </div>
  </div>
</div>
